@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf"),
    url("../fonts/OpenSans-Bold.woff"),
    url("../fonts/OpenSans-Bold.woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf"),
    url("../fonts/OpenSans-Regular.woff"),
    url("../fonts/OpenSans-Regular.woff2");
    font-weight: 700;
    font-style: normal;
  }

  .block-popup::before {
    content: "";
    position: fixed; 
    background-color: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 9999;
    display: none;
  }

  .popup {
    width: 390px;
    background-color: #ffffff;
    position: fixed;
    z-index: 9999;
    padding-left: 50px;
    display: none;
  }

  .popup-title {
    position: relative;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 400;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-top: 63px;
    padding-bottom: 14px;
  }

  .popup-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: 0 auto;
    display: block;
  }

  .form-hint {
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }

  .select {
    display: block;
    box-sizing: border-box;
    width: 329px;
    height: 47px;
    background-color: #f3f7f6;
    border: none;
    font-family: "OpenSans";
    color: #7d7f7e;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 32px;
  }

  .select:hover {
    cursor: pointer;
  }

  .select:focus {
    outline: none;
  }

  .form-arrows {
    position: absolute;
    right: 74px;
    top: 165px;
    width: 10px;
    height: 17px;
  }

  .form-arrows:hover {
    opacity: 0.3;
    cursor: pointer;
  }

  .form-row-answer {
    margin-bottom: 36px;
  }

  .radio-group-text {
    font-family: "OpenSans";
    font-weight: 700;
    font-size: 14px;
  }

  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
  } 

  .radio-circle {
    width: 17px;
    height: 17px;
  }

  .radio-circle-empty {
    width: 17px;
    height: 17px;
  }

  .field {
    font-size: 14px;
    font-weight: 900;
    font-family: "OpenSans";
    padding-top: 20px;
    padding-left: 18px;
    max-width: 329px;
  }

  .button-send {
    width: 329px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #b69f5b;
    margin-top: 26px;
    margin-bottom: 54px;
    color: #fffeef;
    font-family: "OpenSans";
    text-transform: uppercase;
  }

  header {
    position: relative;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-color: #000000;
  }
  
  header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }
  
  .blog {
    display: flex;
    justify-content: space-around;
  }
  
  .header-logo {
    width: 179px;
    margin-top: 28px;
  }
  
  .menu {
    margin-top: 40px;
    display: flex;
  }
  
  .menu-list {
    padding-right: 15px;
    list-style-type: none;
    display: flex;
  }
  
  .menu-link {
    font-family: "OpenSans";
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .menu-link:hover {
    border-bottom: solid 1px #d2d4d2;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 28px;
  }
  
  .blog-name {
    font-family: "OpenSans";
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    line-height: 75px;
    text-transform: uppercase;
    margin-top: 70px;
    padding-bottom: 140px;
  }

  .subtitle {
    position: relative;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 900;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-top: 63px;
    padding-bottom: 14px;
  }

  .subtitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: 0 auto;
    display: block;
  }

  .trend {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
  }

  .trend-article {
    width: 22%;
    background-image: url("../images/trend1.jpg");
    padding: 153px 19px 17px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    display: flex;
    align-items: flex-end;
  }

  .trend-article:nth-child(2) {
    background-image: url("../images/trend2.jpg");
  }

  .trend-article:nth-child(3) {
    background-image: url("../images/trend3.jpg");
  }

  .trend-article:nth-child(4) {
    background-image: url("../images/trend4.jpg");
  }

  .trend-article::after {
    content: "";
    background-color: #000000;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; 
  }

  .trend-info {
    border: 3px solid #918452;
    position: relative;
    z-index: 2;
    padding-top: 37px;
    padding-left: 24px;
    padding-bottom: 29px;
    padding-right: 6px;
  }

  .trend-subtitle {
    font-family: "OpenSans";
    text-decoration: none;
    color: #ae9958;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 16px;
  }
  
  .trend-subtitle:hover {
    color: #b59f5b;
    text-decoration: underline;
  }

  .trend-title-link {
    font-family: "OpenSans";
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 14px;
  }

  .trend-title-link:hover {
    color: #b59f5b;
  }
  
  .container-wrap {
    display: flex;
    justify-content: space-evenly;
  }
  
  main {
    width: 778px;
  }  
  
  .news-article {
    margin-top: 60px;
    display: flex;
  }
  
  .news-img {
    box-sizing: border-box;
    width: 380px;
  }
  
  .news-info {
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .news-subtitle {
    font-family: "OpenSans";
    text-decoration: none;
    color: #cabb92;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 16px;
  }
  
  .news-subtitle:hover {
    color: #b59f5b;
    text-decoration: underline;
  }
  
  .news-title {
    margin-top: 16px;
  }
  
  .news-title-link {
    font-family: "OpenSans";
    text-decoration: none;
    color: #0f0d0e;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 20px;
  }
  
  .news-title-link:hover {
    color: #c0ae78;
  }
  
  .date {
    font-family: "OpenSans";
    font-size: 12px;
    color: #888888;
  }
  
  .news-author {
    font-family: "OpenSans";
    font-size: 12px;
    color: #262626;
    padding-left: 23px;
  }
  
  .news-wrap {
    display: flex;
    margin-top: 37px;
  }
  
  .news-text {
    font-family: "OpenSans";
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
    margin-top: 53px;
    text-align: left;
  }
  
  aside {
    width: 22%;
    margin-top: 40px;
  }
  
  .caption {
    position: relative;
    font-family: "OpenSans";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding-bottom: 14px;
  }
  
  .caption::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: 0 auto;
    display: block;
  }
  
  .post-article {
    display: flex;
    padding-bottom: 21px; 
  }
  
  .post-img {
    margin-right: 15px; 
  }
  
  .post-date {
    font-family: "OpenSans";
    color: #9a9a9a;
    font-size: 12px;
  }
  
  .post-title-link {
    font-family: "OpenSans";
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 14px;
    color: #000000;
  }
  
  .post-title-link:hover {
    color: #b59f5b;
  }
  
  .post-title {
    text-align: left;
    margin: 0;
  }
  
  .search { 
    position: relative;
    margin-top: 58px;
  } 
  
  .search-field {
    font-family: "OpenSans";
    box-sizing: border-box;
    width: 272px;
    height: 48px;
    background-color: #f4f7f6;
    border: solid 2px #ffffff;
    padding-left: 19px;
    font-size: 13px;
  }
  
  .search-field:focus {
    border-bottom: solid 2px #ebe7d7;
    outline: none;
  }
  
  .search-field:hover {
    border: solid 2px #b59f5b;
  } 
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
  }  
  
  .button-search {
    position: absolute;
    right: 35px;
    border: none;
    padding: 15px;
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  
  .button-search:focus {
    background-color: #323232;
    border: none;
    outline: none;
  } 
  
  .button-search::before {
    content: "";
    display: inline-block;
  }
  
  .caption:nth-child(n+2) {
    margin-top: 62px;
  }
  
  form {
    margin-top: 23px;
  }
  
  .field {
    display: block;
    font-family: "OpenSans";
    box-sizing: border-box;
    height: 47px;
    width: 272px;
    background-color: #f4f7f6;
    padding-left: 19px;
    font-size: 13px;
    border: solid 2px #ffffff;
  }
  
  .field:hover {
    border: solid 2px #b59f5b;
  }
  
  .field:focus { 
    border-bottom: solid 2px #ebe7d7;
    outline: none;
  }
  
  .btn {
    width: 272px;
    height: 48px;
    margin-top: 18px;
    background-color: #b59f5b;
    border: solid 2px #ffffff;
    font-family: "OpenSans";
    font-size: 14px;
    color: #ede8db;
    text-transform: uppercase;
  }
  
  .btn:focus {
    background-color: #323232;
    outline: none;
  }
  
  .btn:hover {
    border-top: solid 2px #e6dfc8;
    cursor: pointer;
  }
  
  .tags {
    margin-top: 24px;
    padding: 0px;
  }
  
  .item-tags{
    display: inline-block;
    border: solid 3px #eeeeee;
    background-color: #ffffff;
    padding: 5px 13px;
    margin-right: 6px;
  }
   
  .item-tags:nth-child(n+3) {
    margin-top: 6px;
  }
  
  .item-tags:hover {
    color: #0f0d0e;
    border: solid 3px #b59f5b;
    cursor: pointer;
  }
  
  .link-tags {
    font-family: "OpenSans";
    font-size: 12px;
    color: #333132;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .topic {
    display: inline-block;
    width: 272px;
    margin-top: 62px;
  }
  
  .list-topic {
    margin-top: 20px;
    padding-left: 0px;
  }
  
  .item-topic {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
  }
  
  .link-topic {
    font-family: "OpenSans";
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
  }
  
  .link-topic:hover {
    color: #000000;
    font-weight: 600;
  }
  
  .link-topic:focus {
    color: #b59f5b;
  }
  
  .numeral-topic {
    color: #b59f5b;
    font-size: 12px;
    margin-left: 4px;
    vertical-align: super;
  }
  
  .container-socials {
    display: flex;
    justify-content: center;
    width: 76%;
    background-color: #f4f7f6;
    margin-right: auto;
    margin-left: auto;
    padding: 31px;
    margin-top: 64px;
  }

  .subtitle {
    position: relative;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 900;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-top: 63px;
    padding-bottom: 14px;
  }

  .subtitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: 0 auto;
    display: block;
  }

  .products {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-img {
    width: 298px;
  }

  .product-shop {
    border: 3px solid #d3c59d;
    width: 340px;
    padding: 53px 21px 66px;
  }

  .shop-title {
    font-size: 20px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color: #0f0d0e;
  }

  .shop-text {
    font-size: 15px;
    font-family: "OpenSans";
    color: #0f0d0e;
    line-height: 22px;
    display: flex;
    flex-grow: 1; 
  }

  .shop-link {
    font-family: "OpenSans";
    font-size: 15px;
    color: #baa667;
    text-decoration: none;
  }

  .shop-link:hover {
    text-decoration: underline;
  }

  .shop-price {
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 700;
    position: relative;
  }

  .shop-price::after {
    content: "";
    position: absolute;
    top: 11px;
    width: 45px;
    height: 1px;
    background-color: #333132;
    display: block;
  }

  .ruble-price {
    text-transform: uppercase;
    margin-left: 3px;
    position: relative;
  }

  .ruble-price::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 5px;
    height: 1px;
    background-color: #333132;
    display: block;
  }
  
  .shop-discount {
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }

  .ruble-discount {
    margin-left: 3px;
    position: relative;
  }

  .ruble-discount::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 2px;
    width: 7px;
    height: 2px;
    background-color: #333132;
    display: block;
  }

  .prise-wrap {
    display: flex;
    justify-content: space-between;
  }

  .shop-button {
    width: 140px;
    background-color: #b59f5b;
    border: none;
    font-size: 12px;
    font-family: "OpenSans";
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 29px;
  }

  .shop-button:focus {
    background-color: #323232;
    border: none;
    outline: none;
  }

  footer, .news {
    display: flex;
    flex-direction: column;
  }
  
  .socials {
    text-align: center;
  }
  
  .socials-item {
    display: inline-block;
    padding-right: 31px;
  }
  
  .socials-link  {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f4f7f6;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .socials-link-twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
  }
  
  .socials-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
  }
  
  .socials-link-facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
  }
  
  .socials-link-instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
  }
  
  .socials-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  
  .socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  a, button {
  transition: opacity 0.3s ease;
  }
  a:hover, button:hover {
  opacity: 0.8;
  }
  
  .copyright-block {
    padding-top: 73px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .copyright-link {
    font-family: "OpenSans";
    text-decoration: none;
    color: #cdcdcd;
    font-size: 12px;
  }
  
  
  
  
  
  
  
  